<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="timelineFragment">
    <table  th:each="post:${posts}">
        <tr>
            <td th:text="${post.user.email}"></td>
            <td th:text="${post.createdAt}"></td>
            <td th:text="${post.updatedAt}"></td>
        </tr>
        <tr>
            <td><img width="300" th:src="@{'/image/'+${post.img.id}}"/></td>
        </tr>
        <tr>
            <td th:text="${post.caption}"></td>
        </tr>
        <tr>
            <td th:if="${post.user.id}==${user.id}">
                <form th:action="@{'/post'}" th:method="put" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="put"/>
                    <input type="file" name="imgData" accept="image/*">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <input type="text" name="caption" placeholder="수정할 내용을 입력하십시오"/>
                    <button type="submit">수정하기</button>
                </form>
            </td>
            <td th:if="${post.user.id}==${user.id}">
                <form th:action="@{'/post/'+${post.id}}" th:method="delete">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit">삭제하기</button>
                </form>
            </td>
        </tr>
    </table>
</th:block>
</body>
</html>