body {
    background-color: #e5eefa;
    margin: 0 auto;
}

body header {
    margin: auto;
}

main {
    margin: 2rem auto 0;
    align-items: center;
    max-width: 1200px;
    width: 90%;
}

.welcome {
    max-width: 36rem;
    margin: 0 auto;
}