#uploadForm {
    margin: 2rem auto 2rem;
}

#textBlock {
    margin: 0 auto;
    max-width: 500px;
    height: 180px;
    position: relative;
}

#submitButton {
    bottom: 5px;
    right: 5px;
    position: absolute;
}

#textBlock  {
    margin-bottom: 3px;
}

.form-control-sm {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#floatingTextarea2 {
    height: 100px;
    box-sizing: border-box;
    resize: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}