<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <meta charset="UTF-8">
    <title>personal</title>
</head>
<body>
<div layout:fragment="welcome">
<h1>개인페이지</h1>
어서오세요
<div><span>[[${user.email}]] 님</span></div>
<button type="button" onclick="location.href='hello'">메인화면</button>
<button type="button" onclick="location.href='logout'">로그아웃</button>
</div>
</body>
</html>